body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

header .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

header .btn:hover {
    background-color: #4CAF50;
    color: #fff;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

ul li strong {
    color: #4CAF50;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    margin-top: auto;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    section {
        margin: 10px;
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }

    ul li {
        font-size: 1em;
    }
}